/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------- Header ------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------------------------------------------------- */
header {
    align-content: center;
    background-color: black;
    padding: 15px;
}

.nav-item {
    background-color: grey;
    border: 5px;
    padding: 1.5 rem;
    border-radius: 10px;
    margin: auto;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: grey;
}

.container-fluid{
    margin-top: 100px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------- Main ------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.body {
    max-height: 100vh;
    align-content: center;
    justify-content: center;
    background-color: beige; 
}


#showtime{
    font-size: 20px;
    background: pink;
    border-radius: 15px;
    padding: 20px;
}



.center {
    align-self: center;
    
}

.wrap {
    align-items: center;
  
}

.col-sm {
    background-color: rgb(70, 70, 70);
    padding: 1.5rem;
    border-radius: 15px;
    margin-top: 3rem;
    margin: 3%;
    font-size: 1.5rem;

}

.presentationImgs {
    max-width: 20%;
    float: left;
    padding: 10px;
    
}
.presentationImgs2 {
    max-width: 20%;
    float: right;
    padding: 10px;
   
}

form{
    margin: 3%;
}




/*-------------------------------------------------------------------------------------------------------------------------------------*/

:root {
    /* Set fade in duration */
    --fade-time: 0.5s;
  }
  
  body {
    margin: 20px;
    padding: 0;
    background: #333;
  }
  
  .containerimg {
    max-width: 760px;
    margin: auto;
    border: #fff solid 3px;
    background: #fff;
  }
  
  .main-img img,
  .imgs img {
    width: 100%;
  }
  
  .imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  .imgs img {
    cursor: pointer;
  }

  .imgScale {
      max-height: 100px;
      max-width: 200px;
  }
  
  /* Fade in animation */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
  }
  
  /* Media Queries */
  @media(max-width: 600px) {
    .imgs {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .btnStyle {
      align-content: center;
      justify-content: center;
  }

  #current {
      height: 1000px;
      width: 1000px;
  }

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------- Footer ------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------------------------------------------------- */