/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------- Header ------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------------------------------------------------- */
header {
    align-content: center;
    background-color: black;
    padding: 15px;
}

.nav-item {
    background-color: grey;
    border: 5px;
    padding: 1.5 rem;
    border-radius: 10px;
    margin: auto;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: grey;
}

.container-fluid{
    margin-top: 100px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------- Main ------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.body {
    max-height: 100vh;
    align-content: center;
    justify-content: center;
    background-color: beige;
    
   
   
    
}

.center {
    align-self: center;
    
}

.wrap {
    align-items: center;
  
}

.col-sm {
    background-color: rgb(70, 70, 70);
    padding: 1.5rem;
    border-radius: 15px;
    margin-top: 3rem;
    margin: 3%;
    font-size: 1.5rem;

}

.presentationImgs {
    max-width: 20%;
    float: left;
    padding: 10px;
    
}
.presentationImgs2 {
    max-width: 20%;
    float: right;
    padding: 10px;
   
}

form{
    margin: 3%;
}

.container {
    max-width: 760px;
    margin: auto;
    background: white;
}

.main-img img, 
.imgs img {
    width: 100%;

}

.imgs {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-gap: 5px;
}


@keyframes fadeIn{
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    Animation: fadeIn 0.5s ease-in 1 forwards;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------- Footer ------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------------------------------------------------- */